/Estudo Java/projeto MySQL_JAVA/CRUD_Java/nbproject/private/
/Estudo Java/ProjetoYoutube/build/
/Estudo Java/ProjetoYoutube/nbproject/private/
/Estudo Java/projeto MySQL_JAVA/CRUD_Java/build/
/Estudo Java/Projeto JAVA_WEB/ProjetoBibliioteca/nbproject/private/
/Estudo Java/Projeto JAVA_WEB/ProjetoBibliioteca/build/
/Estudo Java/Projeto JAVA_WEB/ProjetoBiblioteca/nbproject/private/
/Estudo Java/Projeto JAVA_WEB/ProjetoBiblioteca/build/
/Estudo Java/Projeto JAVA_WEB/ProjetoBiblioteca/dist/
/Estudo-Java/SistBancario-junit/SistemaBancario/nbproject/private/
/Estudo-Java/SistBancario-junit/SistemaBancario/build/
/Estudo-Java/SistBancario-junit/SistemaBancario/dist/
/Estudo-Java/Estrutura-de-dados-listas/ListaDuplamenteEncadeada/nbproject/private/
/Estudo-Java/Estrutura-de-dados-listas/ListaDuplamenteEncadeada/build/
